# OS
.DS_Store
Thumbs.db

# Node/Python/Go artifacts
node_modules/
venv/
__pycache__/
*.pyc

# Helm/Kustomize
charts/*/charts/
charts/*/tmp/
.kube/

# VS Code
.vscode/
.history/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Misc
.env
